<%- include('includes/head', { pageTitle: '404 page not found' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Could not found the page !</h1>
    <p>Unfortunately, Page your looking for is not there !!</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
  </main>
<%- include('includes/footer') %>