<%- include('../../shared/includes/head', { pageTitle: 'All Your Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order Placed !</h1>
    <p>you can visit <a href="/orders">Orders Page for more details </a></p>
  </main>
<%- include('../../shared/includes/footer') %>